/* Show it is fixed to the top */

.mycard0 {
  flex-wrap: wrap;
  display: flex;
/*  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);*/
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  background-color: #e1e5ea;
  padding: 0.5rem;
}

.mycard0 p{
  margin-bottom: 0rem;
}

.page_title {
  margin-bottom: 2.5rem;
}

.card {
  margin-top: 0.5rem;
}

.mycard0_time_period {
/*  padding-left: 1.25rem;*/
  padding: 0rem;
}
.mycard0_body {
  padding-top: 0rem;
  padding: 0rem;
}

.pagesubpart{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#work_exp .line_bar{
  background-color: #79dd09 ;
}

#education .line_bar{
  background-color: #79dd09;
}

#work_exp:hover .line_bar{
  width: 8rem;
}

#education:hover .line_bar{
  width: 8rem;
}

