/* Show it is fixed to the top */

.mycard0 {
  flex-wrap: wrap;
  display: flex;
/*  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);*/
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  background-color: #e1e5ea;
  padding: 0.5rem;
}

.mycard0 p{
  margin-bottom: 0rem;
}

.page_title {
  margin-bottom: 2.5rem;
}

.card {
  margin-top: 0.5rem;
}

.mycard0_time_period {
/*  padding-left: 1.25rem;*/
  padding: 0rem;
}
.mycard0_body {
  padding-top: 0rem;
  padding: 0rem;
}

.pagesubpart{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#work_exp .line_bar{
  background-color: #79dd09 ;
}

#education .line_bar{
  background-color: #79dd09;
}

#work_exp:hover .line_bar{
  width: 8rem;
}

#education:hover .line_bar{
  width: 8rem;
}


/* Skills */

.mycard1 .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .mycard1 img {
    width: 100%;
    height: auto;
  }

  .mycard1 .card-body {
    padding: 15px;
  }

  .mycard1 .card-title {
    margin-bottom: 10px;
  }

  .mycard1 .progress-bar {
    height: 8px;
    background-color: #f1f1f1;
    border-radius: 4px;
    overflow: hidden;
  }

  .mycard1 .progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 4px;
    width: 50%; /* Set the initial width or adjust it as needed */
    transition: width 0.3s ease-in-out;
  }


.mycard2 .progress-bar {
  background-color: #79dd09;
}

